body {
    background-color: #f4f4f4;
}

.hidden {
    display: none;
}

#tree-container {
    /* position: absolute; */
    width: calc(100vw - 0px);
    height: calc(100vh - 114px);
    overflow: hidden;
}

#tree {
    width: 100%;
    height: 100%;
}

nav button {
    margin-right: .5rem;
}

nav {
    border-bottom: 1px solid gray;
}

#feedback-count {
    color: magenta;
    border-color: magenta;
}

#task-decomposition-manual-tasks {
    padding: 1rem;
    border: 1px solid transparent;
    background-color: #cff4fc;
    border-color: #b6effb

footer {
    border-top: 1px solid gray;
}

/* ---------- Nodes ---------- */
.node * {
    transition: .1s ease-in-out;
}

.node text {
    font: 12px sans-serif;
    text-anchor: start;
}

/* .node.node-internal circle {
    stroke: steelblue;
    fill: steelblue;
} */

/* ---------- Links ---------- */
.link {
    fill: none;
    stroke-width: 1.5px;
}

.link-leaf {
    stroke: #aaa;
    stroke-dasharray: 3, 3;
}

.link-internal {
    stroke: steelblue;
}

/* ---------- Node status ---------- */
.unexplored circle {
    stroke: orange;
    fill: white;
}

.unexplored.link {
    stroke: orange;
}

.explored circle {
    stroke: orange;
    fill: orange;
}

.explored.link {
    stroke: orange;
}

.implemented circle {
    stroke: steelblue;
    fill: steelblue;
}

.implemented.explored circle {
    stroke: steelblue;
    fill: steelblue;
}

.implemented.link {
    stroke: steelblue;
}

.solved circle {
    stroke: green;
    fill: yellowgreen;
}

.solved.link {
    stroke: green;
}

.feedback-required circle {
    stroke: magenta!important;
    fill: magenta!important;
}

.feedback-required.link {
    stroke: magenta!important;
}


/* ---------- Hover ---------- */
.node:hover circle {
    fill: cyan!important;
    stroke: steelblue!important;
}

.node:hover text {
    fill: steelblue;
}

.center {
    text-align: center;
}

/* ---------- Loading animation ---------- */
.running circle {
    animation: loading_circle 1s ease-in-out 0s infinite alternate;
    stroke: #0d6efd;
    stroke-width: 2px;
    fill: #f4f4f4;
}

@keyframes loading_circle {
    0% {
        r: 9px;
    }

    100% {
        r: 3px;
    }
    
}

/* Social */
.social {
    margin-left: 4px;
    margin-right: 4px;
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
}

.social-email {
    color: #c71610!important;
}
