body {
    background-color: #f4f4f4;
}

#container {
    position: absolute;
    width: calc(100vw - 0px);
    height: calc(100vh - 56px);
    top: 56;
    left: 0;
    margin: 0;
    overflow: hidden;
}

#tree {
    width: 100%;
    height: 100%;
}

.navbar button {
    margin-right: .5rem;
}

.navbar {
    border-bottom: 1px solid gray;
}

/* ---------- Nodes ---------- */
.node * {
    transition: .1s ease-in-out;
}

.node text {
    font: 10px sans-serif;
    text-anchor: start;
}

/* .node.node-internal circle {
    stroke: steelblue;
    fill: steelblue;
} */

/* ---------- Links ---------- */
.link {
    fill: none;
    stroke-width: 1.5px;
}

.link-leaf {
    stroke: #aaa;
    stroke-dasharray: 3, 3;
}

.link-internal {
    stroke: steelblue;
}

/* ---------- Node status ---------- */
.unexplored circle {
    stroke: orange;
    fill: white;
}

.explored circle {
    stroke: orange;
    fill: orange;
}

.explored.link {
    stroke: orange;
}

.solved circle {
    stroke: green;
    fill: yellowgreen;
}

.solved.link {
    stroke: green;
}


/* ---------- Hover ---------- */
.node:hover circle {
    fill: cyan;
    stroke: steelblue;
}

.node:hover text {
    fill: steelblue;
}

.center {
    text-align: center;
}